# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store
